In [6]:
%pip install -U scikit-learn

Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/4e/ba/ce9bd1cd4953336a0e213b29cb80bb11816f2a93de8c99f88ef0b446ad0c/scikit_learn-1.3.2-cp311-cp311-win_amd64.whl.metadata
  Downloading scikit_learn-1.3.2-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\misha\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.26.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\misha\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\misha\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.3.2)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Obtaining dependency information for threadpoolctl>=2.0.0 from https://files.pythonhosted.org/packages/81/12/fd4dea011af9d69e1cad05c75f3f7202cdcbeac9b712eea58ca779a72865/threadpoolctl-3.2.0-py3-none-any.whl.metadata
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.3.2-cp311-cp311-win_amd64.whl (9.2 MB)
   ---------------------------------------- 0.0/9.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.2 MB 1.4 MB/s eta 0:00:07
   ---------------------------------------- 0.1/9.2 MB 1.1 MB/s eta 0:00:09
    --------------------------------------- 0.2/9.2 MB 1.3 MB/s eta 0:00:07
   - -------------------------------------- 0.3/9.2 MB 1.4 MB/s eta 0:00:07
   - -------------------------------------- 0.4/9.2 MB 1.6 MB/s eta 0:00:06
   -- ------------------------------------- 0.5/9.2 MB 1.8 MB/s eta 0:00:05
   -- ------------------------------------- 0.5/9.2 MB 1.6 MB/s eta 0:00:06
   --- ------------------------------------ 0.8/9.2 MB 2.2 MB/s eta 0:00:04
   ---- ----------------------------------- 1.1/9.2 MB 2.6 MB/s eta 0:00:04
   ------ --------------------------------- 1.4/9.2 MB 3.2 MB/s eta 0:00:03
   ---------- ----------------------------- 2.4/9.2 MB 4.8 MB/s eta 0:00:02
   -------------- ------------------------- 3.4/9.2 MB 6.1 MB/s eta 0:00:01
   ------------------ --------------------- 4.3/9.2 MB 7.5 MB/s eta 0:00:01
   ------------------ --------------------- 4.3/9.2 MB 7.5 MB/s eta 0:00:01
   -------------------- ------------------- 4.6/9.2 MB 6.7 MB/s eta 0:00:01
   --------------------- ------------------ 5.0/9.2 MB 7.1 MB/s eta 0:00:01
   ------------------------ --------------- 5.7/9.2 MB 7.4 MB/s eta 0:00:01
   -------------------------- ------------- 6.0/9.2 MB 7.2 MB/s eta 0:00:01
   ---------------------------- ----------- 6.5/9.2 MB 7.6 MB/s eta 0:00:01
   ------------------------------ --------- 7.0/9.2 MB 7.7 MB/s eta 0:00:01
   ---------------------------------- ----- 7.9/9.2 MB 8.1 MB/s eta 0:00:01
   ------------------------------------ --- 8.3/9.2 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------  9.2/9.2 MB 8.9 MB/s eta 0:00:01
   ---------------------------------------  9.2/9.2 MB 8.4 MB/s eta 0:00:01
   ---------------------------------------  9.2/9.2 MB 8.4 MB/s eta 0:00:01
   ---------------------------------------  9.2/9.2 MB 8.0 MB/s eta 0:00:01
   ---------------------------------------- 9.2/9.2 MB 7.6 MB/s eta 0:00:00
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scikit-learn
Successfully installed scikit-learn-1.3.2 threadpoolctl-3.2.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import seaborn as sb
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
train_data = pd.read_csv('train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv('test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
gender_submission = pd.read_csv('gender_submission.csv')
gender_submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [24]:
def clean(data):
    data = data.drop(["Ticket", "Cabin", "Name", "PassengerId"], axis = 1)
    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].median(), inplace = True)
        
    data.Embarked.fillna('U', inplace = True)
    return data

In [25]:
test_data = clean(test_data)
train_data = clean(train_data)

KeyError: "['Ticket', 'Cabin', 'Name'] not found in axis"